@mixin text($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin transition($pr, $du: 250ms, $tf: cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-property: $pr;
    transition-duration: $du;
    transition-timing-function: $tf;
}