:root {
    --title-color: #212121;
    --text-color: #757575;
    --secondary-color: #ffffff;
    --accent-color: #2196f3;
    --header-logo: #000000;
    --footer-logo: #ffffff;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --footer__link-color: rgba(255, 255, 255, 0.6);
    --hero-hover-btn-color: #188ce8;
    --project-btn-bg-color: #f5f4fa;
    --social__icon-color: #AFB1B8;
    --footer-bg-social__link: rgba(255, 255, 255, 0.1);
    --duration: 250ms;
    --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}